# Visual Studio Temp/Cache Folders
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# OneDrive/Windows specific junk
$RECYCLE.BIN/
Thumbs.db
desktop.ini

# VB.NET specific
*.suo
*.user
*.pdb